{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.liputan6.com%2Fcitizen6%2Fread%2F3922572%2F5-penyakit-kucing-yang-wajib-diketahui-oleh-pecinta-kucing&psig=AOvVaw1EaiY_iK3fGc4WvqY6wbiL&ust=1628780204948000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJjyxp-dqfICFQAAAAAdAAAAABAD">
        </div>
      </div>
      <div class="col-sm">
        Kucing Manis
      </div>
      <div class="col-sm">
        <button class="btn btn-danger">Adopsi</button>
      </div>
    </div>
  </div>
  {% endblock content %}